* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

@font-face {
	font-family: Gordita-Thin;
	src: url(../Fonts/Gordita-Thin.woff);
}

@font-face {
	font-family: Gordita-Medium;
	src: url(../Fonts/Gordita-Medium.woff);
}

@font-face {
	font-family: Gordita-Bold;
	src: url(../Fonts/Gordita-Bold.woff);
}

body {
	background-color: #141414;
}
img {
	width: 100%;
}
/* Configuración Forma*/

::placeholder, 
input[type="text"] {
	color: #666666;
	font-family: Gordita-Medium;
	font-size: 18px;
	text-align: center;
	border-radius: 100px;
	width: -webkit-fill-available;
}
#idNombreCompleto {
	background-color: white;
	border-radius: 50px;
	padding-left: 2vh;    
	padding-right: 2vh;   
	height:4.3vh;
	width: 87%;
	margin: 40px 0;
}

.BotonAplicativo{
	background-image: url("../Images/FondoBtn.png"); 
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	font-family: Gordita-Bold;
	color: white;
	padding:15px 75px;
	font-size:24px;
	width: fit-content;
	filter: drop-shadow(9px 9px 2px #55555555);
	background-color: transparent;
}

.BotonAplicativo span{
	filter: drop-shadow(2px 2px 2px #555);
}

/* Configuración contenedor ordenador */

.Wrapper {
	height: 100%;
	min-height: 100%;
	width: 100vw;
	text-align: center;
}

.Content {
	margin: 0 auto;
	display: block;
	position: relative;
	top: 50vh;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100vh / 2);
	min-width: 300px;
	height: 90vh;
	max-height: 90vh;
	min-height: 540px;
}

/* Configuracion Pantalla completa en móviles */

@media (max-width: 768px) {

	body, html {
		height: 100%;
	  }

	.Wrapper {
		height: 100%;
		min-height: 100%;
		width: 100%;
		text-align: center;
	}
	
	.Content {
		top: 0vh;
		-webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(-0%);
		width: 100%;
		min-width: 100%;
		height: 100%;
		max-height: 100%;
		min-height: 100%;
		overflow: hidden;
	}
  }

#BackgroundImageFull {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 2px;
	bottom: 0;
	z-index: -1;
}

/* Pagina Inicio */

.LogoHome{
width:40%;
position:absolute;
top:2%;
left:50%;
transform: translate(-50%, 0%);
filter: drop-shadow(9px 9px 2px #55555555);
z-index:6 !important;
max-width: 220px;
}

.BotonIniciar{
position:absolute;
top:86%;
left:50%;
transform: translate(-50%, -50%);
z-index:4;

}

.FooterLegalHome{
	background-color: #491F23;
	position: absolute;
	bottom:-2px;
	width:100%;
	left: 0;
}

.FooterLegalHome p{
	padding:8px;
	color: white;
	font-family: Gordita-Medium;
	font-size: 8px;
	line-height: 1em;
}

.PopUpRegistro{
	
}

.FondoPopUpRegistro{
	opacity: 76%;
	z-index:5 !important;
	position:relative;
}

.FormaRegistro{

	position: absolute;
	top:52%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index:6 !important;
	width:60%;
	
}

.LogoRegistro{
	width:50%;
	margin-bottom:-30px;
}

.ContainerCampoRegistro{
	background-image: url("../Images/FondoCampoRegistro.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	padding: 60px 30px;
}

/* Instrucciones 01 */

.BotonInstrucciones01{
	position: absolute;
	bottom:0.5%;
	left:32%;
	transform: translate(-50%, -50%);
}

/* Instrucciones 02 */

.LogoInstrucciones02{
	width:34%;
	position:absolute;
	top:2%;
	left:50%;
	transform: translate(-50%, 0%);
	filter: drop-shadow(9px 9px 2px #55555555);
	z-index:6 !important;
	}

.InstruccionesTexto{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width:65%;
	max-width: 350px;
}

.BotonInstrucciones02{
	position: absolute;
	top:76%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.FooterLegalInstrucciones02{
	position: absolute;
	bottom:-2px;
	width:95%;
	right: 0;
	text-align: right;
}

.PersonajeInstrucciones{
	position: absolute;
	bottom:0;
	left:0;
	width:35%;
	z-index: 1;

}

.LogoFooter{
	width:30%;
	padding-right: 8px;
}

.FooterLegalInstrucciones02 p{
	padding:8px;
	color: white;
	font-family: Gordita-Medium;
	font-size: 8px;
	text-align: right;
	z-index: 2;
}

/* SeleccionNivel */

.LogoSeleccion{
	width:20vh;
	position:absolute;
	top:2%;
	left:50%;
	transform: translate(-50%, 0%);
	filter: drop-shadow(9px 9px 2px #55555555);
	z-index:6 !important;
	}


	.ContenedorNiveles{
height:55vh;
overflow-y: scroll;
overflow-x: hidden;
width: 80%;
max-width: 400px;
margin: 0 auto;
padding-right: 10px;
	}

@media (max-width: 768px) {
	.ContenedorNiveles{
		height:60vh;
	}
}

.ContenedorSeleccionNivel{
	background:url(../Images/FondoRespuesta.png) no-repeat center center;
	background-size: 100% 100%;
	padding: 16px 26px;
	display: block;
}

.BotonSeleccionNivel{

	color: #fff;
	padding: 6px;
	font-family: Gordita-Bold;
	
}
.BotonSeleccionNivel span{
	font-family: Gordita-Medium;
	font-size:12px;
	display: block;
    line-height: 1em;
}

.NivelInactivo{
	filter: grayscale(100%);
	pointer-events: none;
}

.LogoSeleccionFinal{
	width:18vh;
	position:absolute;
	bottom:2%;
	left:50%;
	transform: translate(-50%, 0%);
	filter: drop-shadow(9px 9px 2px #55555555);
	z-index:6 !important;
	}

/* Preguntas */

.LogoPreguntas{
	width: 30%;
	position: absolute;
	top:2%;
	left:0;
	filter: drop-shadow(9px 9px 2px #55555555);
	
}

.SeccionPuntaje{
	background:url(../Images/FondoPuntos.png) no-repeat center center;
	background-size: contain;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	padding: 1.8vh 1vh 1.8vh 5vh;
	color:white;
	filter: drop-shadow(4px 4px 2px #55555555);
	z-index:10;
	position: absolute;
	top:2vh;
	right:2vh;
	font-size:14px;
	line-height: 1em;
	font-family: Gordita-Medium;
}

.FondoTiempo{
	background:url(../Images/FondoTiempo.png) no-repeat center center;
	background-size: contain;
	padding:24px;
	color: white;
	font-size:45px;
	font-family: Gordita-Bold;
	filter: drop-shadow(4px 4px 2px #55555555);
	
}

.FondoTiempo span{
	filter: drop-shadow(2px 4px 0px #210aa388);
	
}

.ContenedorTituloNivel{
	width: 100%;
	text-align: center;
}
.TituloNivel{
	text-align: center;
	width: auto !important;
}

.ContenedorPregunta{
	width:100%;
	text-align: center;
}
.EstiloPregunta{
	width:90%;
	color: white;
	font-size:16px;
	line-height: 1em;
	font-family: Gordita-Bold;
	margin: 0 auto;
}

.ContenedorAzulRespuestas{

	background-image: url("../Images/FondoPreguntas.png");
	background-size: 100% 100%;
	width:90%;
	margin: 0 auto;
	filter: drop-shadow(15px 15px 2px #55555555);
}

.ImagenRespuestas{
	width:20%;
}

@media (max-width: 768px) {
	.ImagenRespuestas{
		width:12%;
	}
}

.BloqueRespuestas {
	width: 85%;
	margin: 0 auto;
	overflow: visible;
}

.Respuesta {

	display: flex;
	align-items: center;
	overflow: visible;
}

.IconoRespuestas {
	width: 15%;
	float: left;
	padding-right: 5px;
}

.BotonRespuesta {
	font-size: 14px;
	color: #fff;
	width: 85%;
	margin: 0 auto;
	display: inline-block;
	padding: 20px 5px 20px 24px;
	text-align: left;
	float: left;
	background-image: url("../Images/FondoRespuesta.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Gordita-Medium;
	line-height: 1em;
}

.RespuestaCorrecta {
	background-image: url("../Images/FondoRespuestaCorrecta.png") !important;
}

.RespuestaIncorrecta {
	background-image: url("../Images/FondoRespuestaIncorrecta.png") !important;
}

/* Retroalimentacion */

.BotonRetroalimentacion{
	position: absolute;
	top:86%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

/* Cierre Trivias */

.MensajeSigueJugando{
	position: absolute;
	top:48%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width:75%;
}

.MensajeFinalJuego{
	position: absolute;
	top:55%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width:75%;
}

.BotonRecursos{
	position: absolute;
	top:83%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width:55%;
}

.LogoFinal{
	width:50%;
	position:absolute;
	top:2%;
	left:50%;
	transform: translate(-50%, 0%);
	filter: drop-shadow(9px 9px 2px #55555555);
	z-index:6 !important;
	}

	.BotonRegresarNiveles{
		position: absolute;
		top:88%;
		left:50%;
		transform: translate(-50%, -50%);
		z-index: 5;
	}

/*Ranking*/

.FondoRanking{
	background: #f16377;
background: linear-gradient(90deg, #f16377 0%, #ec944b 100%);
positon: absolute;
width: 100svw;
height: 100svh;
}

.LogoJuegoRanking{
	width: 18%;
	position: absolute;
	top:3%;
	left:0;
	filter: drop-shadow(9px 9px 2px #55555555);
}

.EstrellaRanking{
	width: 9%;
	position: absolute;
	top:50%;
	transform: translate(0%, -50%);
}

.EstrellaIzquierda{
	left:10%;
}

.EstrellaDerecha{
	right:10%;
}

@media (max-width: 1000px) {
	.EstrellaRanking{
		display:none;
	}
  }

.LogoRanking{
	width: 18%;
	position: absolute;
	bottom:3%;
	right:2%;
	filter: drop-shadow(9px 9px 2px #55555555);
}

.TituloRanking{
	position: absolute;
	top:15%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:5;
	width:25%;
	min-width: 350px;
}

.FondoPuntajeRanking{
	position: absolute;
	background-image: url("../Images/FondoResultados.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top:55%;
	left: 50%;
	transform: translate(-50%, -50%);
	height:60%;
	width:25%;
	min-width:350px;
	padding:70px;
}

.ContenedorPuntajesRanking{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ContenidoRanking{
	text-align: center;

}

.FranjaPuntaje{
	padding:3%;
	background-color: #ffe5c9;
	border-radius: 8px;
	width:90%;
	margin: 0 auto;
	margin-bottom: 2%;
	font-family: Gordita-Bold;
	color:#491F23;
	display: flex;
	font-size: 20px;
	text-align: left;
}

.FranjaPuntaje div{
	filter: drop-shadow(2px 2px 2px #55555555);
	
}

.NumeroPosicion{
	width:10%;
}

.NombreJugador{
	width:60%;
}

.PuntajeJugador{
	width:30%;
}

/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #EE706D;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Fabian*/

.spaceMediumvh {
    height:0.5vh;
}
.space1vh {
    height:1vh;
}
.space2vh {
    height:2vh;
}
.avoidEvents{
	pointer-events: none;
}
.interactable{
	cursor: pointer;
}
[transparent] { 
	visibility: hidden; 
} 
[grayscale] { 
	filter: grayscale(1);
	pointer-events: none;
} 

[nodisplay] { 
	display: none; 
} 
.ContenedorPuntajes{
	height: 42vh;
	width:90%;
	margin: 0 auto;
	overflow: scroll;
	overflow-x: hidden;
	padding:0 1vh;
}